/* .title {
color: blue;
font-style: italic;
;

}



body {
    background-image:url( https://p4.wallpaperbetter.com/wallpaper/422/549/156/hd-background-nature-1920x1080-wallpaper-preview.jpg);
    background-size: 100%;
    border-width:122px;
border-color: chartreuse;
} */


/* * { box-sizing: border-box; }
body {
  margin: 0;
  background: #f2f2f2;
} */


/* header {
  background: white;
  text-align: center;
} */

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}


nav {
  display: table;
  /* margin: 0 auto; */
}

nav ul {
  list-style: none;
 
  /* margin: 0;
  padding: 0; */
}

/* .topmenu:after {
  content: "";
  display: table;
  clear: both;
} */

.topmenu > li {
  /* width: 25%; */
  float: left;
  position: relative;
  /* font-family: 'Open Sans', sans-serif; */
}

.topmenu > li > a {
  /* text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040; */
  /* padding: 32px; */
}



.submenu {
  background: white;
  list-style-type: none;
  position: absolute;
  left: 5vw;
  top: 100%;
  z-index: 5;
  width: 232px;
  opacity: 10;
  text-align: left;
  padding: 32px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  border: 1px solid black;
}

.menu-main-title {
    text-align: left;
}

.menu-title {
    /* margin-left: 32px; */
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-links {
    margin-left: 53px;
}

.submenu a {
  color: black;
  /* text-align: left; */
  padding: 2%;
  font-size: 13px;
  
}


.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}