* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.header {
    padding-top: 40px;
    margin-bottom: 84px;
}

.top__menu {
    padding-top: 51px;
    margin-bottom: 96px;
}

.top__content-text {
    margin-top: 17px;
    margin-bottom: 37px;
}

.logos {
    margin-top: 192px;
    padding-top: 96px;
    padding-bottom: 96px;
}