.goods_in_cart-box {
    display: grid;
    grid-template-columns: 652px 359px;
    gap: 128px;
    padding: 96px 0;

}

.goods_in_cart-left-block {
    padding: 0 auto;
    display: flex;
    gap: 40px;
    flex-direction: column;

    &-img {
        height: 306px;
    }

    &-items {
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        display: flex;
    }

    &-item {
        position: relative;
        @include gridTable (2, 60px, 6px);
        padding: 22px 97px 62px 32px;
        @include fontStyle (22px)
    }

    &-item-name {
        width: 200px;
        @include fontStyle (24px, $mainTextColor: $headTitleColor)
    }

    &-item-name-box {
        display: flex;
    }
}


.goods_in_cart-right-block {
    border: 1px solid #000;
}






.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity ease 0.5s;

    &:hover {
        opacity: 0.3;

    }
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 20px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}