@import 'vars';
@import "mixins";

.filter-sort {
    @include flexFull;
    justify-content: flex-start;
    @include fontStyle (14px, 600);
    gap: 304px;
    padding: 51px 0 64px 15px;
}

.description-sorting {
    padding: 0;

    &-left {
        align-items: center;
    }


}


.description-sorting-menu-filter {
    &[open] .description-sorting-menu-title {
        color: $mainColor;
    }

    &[open] path {
        fill: $mainColor;
    }


}


.description-sorting-menu-box-filter {
    width: 360px;
    position: absolute;
    background: #FFF;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
}



.section_bottom {
    margin: 0;
}


.roll_menu {
    background-color: aquamarine;
    height: 200px;
}

// .items_up:last-child {
//     display: none;
// }

// .goods-section {
//     margin-bottom: 48px;
// }