@import 'vars';
@import "mixins";

.filter-sort {
    position: relative;
    @include flexFull;
    justify-content: normal;
    align-items: normal;
    @include fontStyle (14px, 600);
    gap: 385px;
    padding: 51px 0 64px 0;
}

.description-sorting {
    padding: 0;
}


.description-sorting-menu-filter {
    width: 360px;
    position: absolute;
    box-sizing: border-box;
    padding: 13px 16px 16px;
    top: 39px;


    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter_heading {
        color: $mainColor;
    }

    &[open] path {
        fill: $mainColor;
    }
}

.filter_heading {
    margin-top: 16px;
}

.filter_link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 0;
}

.filter_link {
    @include fontStyle (14px, 400, $mainTextColor);
}








.section_bottom {
    margin: 0;
}

.roll_menu {
    background-color: aquamarine;
    height: 200px;
}

// .items_up:last-child {
//     display: none;
// }

// .goods-section {
//     margin-bottom: 48px;
// }