@import 'vars';
@import "mixins";

a {
    text-decoration: none;
}


.arrivals {
    @include flexFull;
    @include fontStyle (14px, $mainTextColor);
    height: 148px;
    background-color: $headColor;
    justify-content: space-between;

    &-new-arrivals {
        @include fontStyle (24px, $mainTextColor: $mainColor);
    }

    &-link {
        color: $mainTextColor;
    }

    &-link:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
    }

    &-link-new {
        color: $mainColor;
    }
}


.carousel {
    background-color: $pictureBoxBackground;
    // height: 777px;

    &-inner {
        z-index: 1;
    }

    &-item {
        left: 25%;
        top: 0;
    }

    .d-block {
        vertical-align: baseline;
        background-color: $pictureBoxBackground;
    }

    &-control-next {
        width: 31px;
        left: 96%;
    }

    &-control-prev {
        width: 31px;
        left: 0;
    }
}


.product_description {
    background-color: $bodyBackground;


    &-empty {
        top: 50vh;
        width: 1400px;
        position: absolute;
        background-color: black;
        z-index: 10;
        // background-color: $pictureBoxBackground;
    }

    &-box {
        text-align: center;
        border: 1px solid;
        padding: 64px 0;
        border: 1px solid #EAEAEA;
    }

    &-collection {
        @include fontStyle (14px, 300, $mainTextColor: $mainColor);
    }

    &-title {
        padding: 8px 0 48px 0;
        @include fontStyle (18px, 300, $mainTextColor: $descriptionTitleTextColor);
    }

    &-text {
        @include fontStyle (14px, 300);
        padding-bottom: 32px;
        width: 550px;
        margin: auto;
        text-align: center;
    }

    &-price {
        @include fontStyle (24px, 300, $mainTextColor: $mainColor);
    }

    .product_description-sorting_menu {
        @include flexFull;
        @include fontStyle (14px, 400);
        gap: 42px;
        padding: 60px 0 48px 0;
    }

    .add_cart-button {
        background-color: #FFFFFF;
        border: 1px solid $mainColor;
    }
}


.goods_section {
    margin-top: 128px;
}