* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 586px);
    padding-right: calc(50% - 586px);
}

.center_top {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.board {
    padding-left: calc(50% - 588);
    padding-right: calc(50% - 588);
    margin: 0 16px ;
}

p {
    font-style: normal;
    line-height: normal;
}

/* -------------------------------------- */

.title {
   background: #222222;
    
}

.title_menu {
    width: 100%;
    min-width: 300px;
    min-height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto; */
}

.left_menu {
    display: flex;
    align-items: baseline;
    gap: 41px;
}

.right_menu {
    display: flex;
    gap: 30px;
    align-items: baseline;
}


/* --------------------------------------- */

.brand_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brand {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.brand_left {
    width: 50%;
    display: flex;
    align-items: center;
}

.brand_right {
    width: 50%;
    display: flex;
    gap:16px;
}

.box_red_line {
    display: flex;
    align-items: center;
}

.main_text {
    font-size: 48px;
    font-weight: 900;
}

.bottom_text {
    font-size: 32px;
    font-weight: 700;
}

.text_red {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    
}

.choice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;  
    padding: 65px 16px 96px 16px;
}

.board1 {
    margin-left: 16px;
    margin-right: 16px;
}

.choice_items {
    display: grid;
    justify-items: center;
    align-items: center;
}

.choice_items_big {
    grid-column: span 3;
    display: grid;
    justify-items: center;
    align-content: baseline;
    align-items: center;
    /* word-wrap: break-word; */
}

.text_upper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.offer_red {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;    
}

/* ------------------------------------------------------ */

.goods_title {
    min-height: 63px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.product_box_text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.section_bottom{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 30px;
    justify-content: center;
    padding: 48px 0;
}

.items_about {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    background-color: #F8F8F8;
}

.items_name {
    font-size: 13px;
    font-weight: 400;
}

.items_description {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.items_price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------- */

.browse {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
}

.browse_body {
    border: 1px solid #FF6A6A ; 
}

.browse_text {
    display: inline-flex;
    align-items: flex-start;
    color: #FF6A6A; 
    padding: 15px 39px;
}

.browse_text:hover {
    background-color: #F1E4E6;
    padding: 15px 39px;
    color: black;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {

.center {
    padding-left: calc(4% - 385px);
    padding-right: calc(4% - 385px);
}

.board {
    padding: 0 16px;
}

.title {
    min-height: 74px;
    justify-content: center;
}

/* .title_menu {
    width: 99%;
} */

/* .main_text, .bottom_text  {
    width: 283px;
    
    white-space: nowrap;
} */

.section_bottom{
    grid-template-columns: repeat(2, 2fr);
    gap:16px;
    padding-top: 74px;
    padding-bottom: 33px;
}

.items_up {
    display: flex;
    flex-direction: column;
}

.items_about {
    gap: 13px;
    padding: 24px 29px 20px 16px;
}

.choice {
    padding-bottom: 110px;
    gap:20px;
    padding: 0 16px;
}

.browse {
    margin-bottom: 70px;
}

}



    
