* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

body {
    background: #020A18;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-bottom: 160px;
    
}

.container {
    margin: 0 auto;
    
}

.header_flex {
    display: flex;
    padding: 39px 0px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 10px;
}

.header_link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main {
    margin-bottom: 197px;
    
    
}

.flex {
    display: flex;
    align-items: center;
    gap: 128px;
}

.main_left {}

.main_title {
    color:  #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color:#FFF;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    padding-bottom: 40px;
}

.description {
    /* width: 558px; */
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 50px;
    opacity: 0.699999988079071;
}

.main_link {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #3A68B8;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

.main_link:hover {
    color:#3A68B8;
    background-color: #ffffff;
}

.logo_upper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 71px;
    margin-top: 197px;
    margin-bottom: 256px;
}

/* Середина */

.middle_top_section {
    background: #020A18;
    margin-top: 256px;
}

.middle_top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    margin-bottom: 264px;
}

.title_top_middle {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.description_top_middle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 50px;
    opacity: 0.699999988079071;
}

.top_middle_link {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background:  #3A68B8;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.top_middle_link:hover {
    color:#3A68B8;
    background-color: #ffffff;
}

/* Середина */


.middle_section_up {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    grid-auto-rows: 389px;
    justify-content: center;
    padding-bottom: 257px;
    opacity: 0.699999988079071;
}

.middle {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 30px;
    align-content: baseline;
}

.title_mid {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
 }

.description_mid {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.middle_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

/* Середина низ */

.middle_down {
    display: flex;
    justify-content: center;
    vertical-align: middle;  
}

.title_down_middle {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    
}

.description_down_middle {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 460px;
    opacity: 0.699999988079071;
}

.down_middle_left {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
}

.middle_down_section {
    margin-bottom: 221px;
}

/* Контакты */

.container_end {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    color: #FFF;
 
}

.info_details {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    grid-auto-flow: column;
    gap: 30px;
    justify-self: center;
    color: #FFF;
}

.title_row_1, .title_row_2, .title_row_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.about_title, .text_about {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social_icons {
    display: flex;
    gap: 24px;
    opacity: 0.6000000238418579;
}

.lot {
    /* width: 261px; */
    opacity: 0.6000000238418579;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}


@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .main_title {
    font-size: 16px;   
  }

  .title {
    font-size: 48px;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .main_left {
    text-align: center;
  }

  .logo_upper {
    max-width: 650px;
    margin: auto;
    gap: 32px;
        
    margin-top: 197px;
    margin-bottom: 277px;
  }

  .down_middle_right {
    margin-top: 64px;
  }

  .middle_section_up {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 362px);
    grid-auto-flow: dense;
    align-content: space-evenly;
    justify-items: center;
    text-align: center;

    /* grid-auto-rows: 389px;
    justify-content: center;
    padding-bottom: 257px;
    opacity: 0.699999988079071;
    } */
}

.middle_big {
    grid-column: span 1;
    grid-row: span 2;
    display: grid;
    /* flex-wrap: wrap; */
}

}
